main {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: calc(var(--basic-padding) + 15px);
  padding-bottom: calc(var(--basic-padding) + 15px);
}

.pagination {
  margin-top: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  gap: 15px;
}

.pagination p {
  font-family: Quicksand-Light, sans-serif;
}

.switch-page {
  cursor: pointer;
}

.book-table {
  border-collapse: collapse;
  table-layout: auto;
}

.book-table th,
.book-table td {
  border: 1px solid var(--main-text-color);
}

.prev-button-container,
.next-button-container {
  cursor: pointer;
}

.loader,
.no-result {
  color: var(--main-text-color);
  padding-top: 100px;
  text-align: center;
  font-family: Quicksand-Light, sans-serif;
}

.book-table thead {
  color: var(--main-text-color);
  text-align: center;
  font-family: Quicksand-Bold, sans-serif;
}


.list-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 60vh;
  overflow-y: auto;
  flex: 1;
  width: 26vw;
  min-height: 0;
}

.error-showing-container {
  padding-top: 100px;
}

.error-showing-container p {
  color: red;
  font-family: Quicksand-Light, sans-serif;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
