.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 100px;
  font-size: 25px;
}

.greeting-menu a,
p {
  text-align: center;
  color: black;
  font-family: Quicksand-Light, sans-serif;
}
