.pagination {
  margin-top: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  gap: 15px;
}

.pagination p {
  font-family: Quicksand-Light, sans-serif;
}

.switch-page {
  cursor: pointer;
}
