:root {
  --main-bg-color: #fff;
  --main-text-color: #d9e2ff;
  --input-color: #515a7b;
  --main-border-color: #6e779a;
  --basic-text-font: 16px;
  --big-text-font: 22px;
  --basic-padding: 10px;
  --side-color: #ffda1f;
}
